#body {
   font-family: 'Manrope';
   font-size: 16px;
   background-color: #f4fdff;
   margin: 0;
   padding: 0;
   height: auto;
   transition: filter 0.3s ease; /* Плавный переход для размытия */
   overflow: auto; /* Прокрутка включена по умолчанию */
   flex-direction: column;
   display: flex;
   width: 100%;
}



#header {
   width: 100%;
}

.navbar-inner-right, .navbar-inner-left {
   display: flex;
   align-items: center;
}

.navbar-inner-right a, .navbar-inner-left a {
   text-decoration: none;
   color: #ffffff;
   font-size: 16px;
   font-family: 'Manrope';
   cursor:default;
}
.navbar-top .container {

   max-width:60%;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
   height: 70px;
   align-items: center;

}
.navbar-top {
   background-color: #000;
   color: #fff;
   padding:0;
   width: 100%;
   z-index: 10;
   transition: opacity 1s ease;
}
.navbar-right-image {
   width: 40px;
   height: 40px;
   margin-left: 5px;
   cursor: pointer;
  
}
#inner-centr {

   width: auto;
   height:auto;
   margin-top: 70px;
   position: absolute;
   left: 0;
   margin-left: 40px;
   justify-content: space-between;
   display: flex;
   gap: 50px;
   
;
}
.inner-centr p {
   font-family: 'Manrope';
   font-size: 15px;
   font-weight: 300;
   margin: 0;
   display: flex;
   gap: 2px;
   color: #242424;
   cursor:default;
}
.inner-centr img{
   width: 17px;
   height: 17px;
}
@media (max-width: 500px) {
   .navbar-inner-right a {
      display: none;
   }
   .navbar-right-image {
      display: block;
   }
}
.navbar-top .navbar-inner-left  {
   display: flex;

   justify-content: center;
   align-items: center;
   white-space: pre-wrap;
   text-align: center;
   cursor: pointer;

   max-height: 70px;
}
.navbar-bottom .container {
    max-width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

header .navbar-bottom {
    background-color: #fcfcfc;
    position: relative;
    height: 70px;
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.25); /* Добавляем тень для отделения от контента */
}
.navbar-bottom.fixed {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   z-index: 1000; /* Чтобы navbar-bottom был поверх контента */
}

.button-news {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   height: 70px;
   background: #fcfcfc;
}
.button-news:hover {
   box-shadow: 0 3px 0 0 #0000008c; /* Тень при наведении */
}

.button-tariff {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   height: 70px;
   background: #fcfcfc;
  
}
.button-tariff:hover {
   box-shadow: 0 3px 0 0 #0000008c; /* Тень при наведении */
}

.button-services {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   height: 70px;
   background: #fcfcfc;
  
}
.button-services:hover {
   box-shadow: 0 3px 0 0 #0000008c; /* Тень при наведении */
}

.button-payment {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   height: 70px;
   background: #fcfcfc;
  
}
.button-payment:hover {
   box-shadow: 0 3px 0 0 #0000008c; /* Тень при наведении */
}

.button-pers-acc {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   height: 70px;
   background: #fcfcfc;
  
}
.button-pers-acc:hover {
   box-shadow: 0 3px 0 0 #0000008c; /* Тень при наведении */
}
.navbar-inner-left {
   display: flex;
   align-items: center;
}
.logo {
   width: 50px;
   height: 50px;
   margin-right: 10px;
}
.text-logo {
   font-weight: 400;
   font-size: 26px;
   color: #000;
}
.navbar-bottom .navbar-inner-center {
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-grow: 1;
   margin-left: 50px;
   
} 
.navbar-bottom .navbar-inner-center a {
   text-decoration: none;
   color: #000000;
   font-weight: 400;
   font-size: 16px;
   font-family: 'Manrope';
} 
.content {
   background-color: lightgray;
   padding: 20px;
   height: 1500px; /* Добавляем высоту для демонстрации прокрутки */
   margin-top: 140px; /* Чтобы контент не накладывался на нижнюю часть хедера */
}

.message {
   position: absolute;
   left: 60%;
   top: -20px; /* Изначально спрятана за левым краем */
   transform: translateY(-50%);
   background-color: #f0f0f000;
   padding: 10px 20px;
   transition: top 0.3s ease; /* Анимация появления */
   font-family: 'Martian Mono';
   font-size: 14px;
   font-weight: 200;
 }


 .message.visible {
   top: 3.8%;
   left: 60%; /* Появляется слева */
 }

/* стили для main */
#main {
   height: 1000px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.selection {
   padding: 10px;
   box-sizing: border-box;
   transition: opacity 0.5s ease;
   opacity: 1;
   position: relative;
 }
 .selection-hidden {
   opacity: 0;
   pointer-events: none;
 }
 .selection-sliding {
   position: absolute;
   left: -100%;
 }

.tariff {
   display: flex;
   width: 100%;
   height: auto;
   margin-top: 75px;
   margin-bottom: 15px;
   justify-content: center; /* Горизонтальное центрирование */
   align-items: center; /* Вертикальное центрирование */
}
.tariff .container {
   display: flex;
   width: 100%;
   height: auto;
   justify-content: space-between;
   align-items: flex-start;
   transition: transform 0.5s ease;
   gap: 15px;
}
/* Общий стиль для ссылок */
.pages-nam.container a {
   padding: 10px;
   margin-right: 20px;
   text-decoration: none;
   color: #000;
   font-weight: bold;
   transition: color 0.3s, text-decoration 0.3s;
 }
 
 /* Стиль для активной ссылки */
 .pages-nam.container a.active {
   color: #007BFF; /* Синий цвет для активной ссылки */
   text-decoration: underline; /* Подчеркивание активной ссылки */
 }
 

.tariffs-detail-left, .tariffs-detail-right {
   
   border-radius: 25px;
   width: 600px;
   height: 600px;
   background-color: #fcfcfc;
   box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.25);
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   flex-direction: column;

   
}
.tariff .tariffs-detail-left {
   /* background-image: url('/icon/back_tariff_left.png'); */
   background-size: cover; /* Растянуть изображение, сохраняя пропорции */
   background-position: center; /* Центрировать изображение */

   background-repeat: no-repeat; /* Запрещаем повторение изображения */
   margin-left: 20%;
}

.tariffs-detail-right {
   /* background-image: url('/icon/back_tariff_right.png'); */
   background-size:100% auto; /* Оставляем размеры изображения как есть */
   background-position: left bottom; /* Размещаем картинку в левом нижнем углу */
   background-repeat: no-repeat; /* Запрещаем повторение изображения */
   margin-right: 20%;
}

.button-left, .button-right {
   display: flex;
   border: none;
   align-items: center;
   margin-bottom: 30px;
   width: 200px;
   height: 50px;
   background-color: #008cc8;
   border-radius: 10px;
   justify-content: center;
   font-family: "Montserrat";
   box-shadow: 0 5px 4px 0 rgba(0, 0, 0, 0.25);
   text-decoration: none;
   color: #FAFAFA;
   cursor: pointer;
   position: absolute;
   bottom: 0; /* Прижимаем к нижнему краю */
}

.button-left:hover{
   background-color: #007fbe;
   box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
}

.button-right:hover{
   background-color: #007fbe;
   box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
}


.tariff-descr {
   display: flex;
   position: absolute;
   top: 0;
   left: 50%;
   width: 90%;
   transform: translateX(-50%);
   justify-content: space-between;
   height: 160px;
   border-bottom:2px solid #afacac;
}

.left-descr {
   display: flex;
   width: 212px;
   height: 100%;
   margin-top: 0px;
   margin-left: 20px;
   flex-direction: column;
   margin-bottom: 0;
   justify-content: flex-end;
}
.max {
   font-weight: 500;
   color: #008CC8;
   font-family: 'Manrope';
   font-size: 28px;
   font-weight: 700;
   margin-top: 0;
   margin-bottom: 0;
}
.left-descr p, .right-descr p {
   margin-bottom: 0;
   margin-top: 40px;
   margin-bottom: 2px;
}
.prise {
   font-family: "Martian Mono", sans-serif;
   font-weight: 700;
   line-height: 120%;
   letter-spacing: -0.05em;
   color: #000;
   font-size: 24px;
   margin-bottom: 5px;
   margin-right: 0;
}
.rub-mes {
   font-weight: 300;
   letter-spacing: -0.05em;
   color: #000;
   font-family: 'Manrope';
   font-size: 25px;
   margin-left: 5px;
}

.right-descr {
   display: flex;
   height: 100%;
   flex-direction: column;
   justify-content: flex-end;
   font-weight: 300;
   color: #000000;
   font-family: 'Manrope';
   font-size: 25px;
}
.right-descr p {
   margin: 0;
}
.nam {
   font-family: "Martian Mono", sans-serif;
   font-size: 24px;
   line-height: 120%;
   letter-spacing: -0.05em;
   font-weight: 700;
   margin-right: 5px;
}
.form-container {
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%) scale(0.8); /* Начальное состояние формы (уменьшена и сдвинута) */
   opacity: 0; /* Скрыта по умолчанию */
   z-index: 1001;
   max-width: 600px;
   height: auto;
   background-color: #f4fdff;
   box-shadow: 0 5px 8px rgba(0, 0, 0, 0.25);
   border-radius: 8px;
   transition: opacity 0.5s ease, transform 0.3s ease; /* Плавный переход */
   flex-direction: column;
   align-items: center;
   display: flex;
   padding: 10px 10px 10px;
   margin: 0;
   font-family: 'Manrope';
   pointer-events: none;
   overflow: hidden;

   
}

.background-blur {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: rgba(0, 0, 0, 0.3); /* Полупрозрачный черный фон */
   z-index: 1000; /* Слой для фона ниже формы */
   filter: blur(5px); /* Применяем размытие */
   display: none; /* Скрыт по умолчанию */

}
.form-container.show {
   opacity: 1; /* Делаем форму видимой */
   transform: translate(-50%, -50%) scale(1);/* Форма становится видимой */
   pointer-events: auto;
   overflow: hidden;
}

 /* Когда форма открыта, показываем этот слой */
 .background-blur.show {
   display: block;
}

body.no-scroll {
   overflow: hidden; /* Отключаем прокрутку */
}
.ban {
   width: 100%;
   height: 200px;
   background-image: url(/icon/ban.png);
   box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.25);
   background-position: center; /* Центрирует картинку */
   background-repeat: no-repeat; /* Запрещает повторение картинки */
   background-size: 100% auto; /* Растягиваем картинку по ширине, оставляя высоту пропорциональной */
}
.fram {
   width: 100%;
   margin: 0;
   height: 100%;
   background-image: url(/icon/Frame.png);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   display: flex;
   justify-content: center;  /* Центрирование по горизонтали */
   align-items: center;
}

.fram .inner {
   display: flex;
   width: 60%;;
   justify-content: flex-start;
   flex-direction: column;
}

.up {
   color: #F3FDFF;
   font-family: 'Manrope';
   font-weight: 400;
   font-size: 30px;
   margin-bottom: 10px;
}
.down {
   color: #F3FDFF;
   margin-top: 0;
   font-family: 'Manrope';
   font-size: 20px;
}


.pages-nam {
   width: 100%;
   height: 75px;
   display: flex;
   justify-content: center;  /* Центрирование по горизонтали */
   align-items: center;  

}


#pages-nam .container {
   display: flex;
   width: 60%;
   justify-content: flex-start;
   gap: 10px;


}

#pages-nam .container a{
   margin-left: 0;
   margin-bottom: 0;
   font-family: 'Manrope';

   padding: 10px;
   margin-right: 20px;
   text-decoration: none;
   color: #007fbe;
   font-weight: bold;
   transition: color 0.3s, text-decoration 0.3s;

   
   
}
#pages-nam .container a.active {
   color: #0a557a; /* Синий цвет для активной ссылки */
   text-decoration: underline; /* Подчеркивание активной ссылки */
}

.page-apart {
   color: #0a557a;
   font-weight: 700;
   font-size: 18px;
   text-decoration: underline 2px; /* Подчеркнуть текст */
   text-underline-offset: 5px; 
}
.house {
   color: #007fbe;
   font-size: 18px;
   display: flex;
   text-decoration: none;
}
#page-apart-mob, #house-mob {
   display: none;
}
.footer {
   width: 100%;
   height: auto;
   margin-top: 100px;
   min-height: 225px;
   background-color: #007fbe;
   box-shadow: 0 2px 16px 10px rgba(0, 0, 0, 0.25);
   display: flex;
   justify-content: center;
   align-items: center;

}

.footer .container {
   width: 60%;
   height: auto;
   color: #fcfcfc;
   display: flex;
   justify-content:space-between;
   padding: 10px;
}
.footer .inner-left {
   display: flex;
   padding-top: 10px;
   font-family: 'Manrope';
   font-weight: 300;
   font-size: 18px;
   flex-direction: column;
   width: auto;
}

.footer .text-logo-footert {
   margin-left: 5px;
   margin-top: 5px;
   font-family: 'Manrope';
   font-size: 28px;

}
.footer .inner-right {
   display: flex;
   align-items:flex-start;
   font-family: 'Manrope';
   flex-direction: column;
}
footer .logo-footer {
   display: flex;
   justify-content: center;
   
 
}
.footer .icon-footer {
   width: 50px;
   height: 50px;
}
.cl-btn-2 {
   margin-left: auto;
   margin-top: 0px;

}
.cl-btn-2 div {
   cursor: pointer;
   position: relative;  
   height: 40px;
   width: 40px;

}
.cl-btn-2 .leftright {
   height: 4px;
   width: 35px;
   position: absolute;
   margin-top: 20px;
   background-color: #008CC8;
   border-radius: 2px;
   transform: rotate(45deg);
   transition: all .3s ease-in;
   box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
}
.cl-btn-2 .rightleft {
   height: 4px;
   width: 35px;
   position: absolute;
   margin-top: 20px;
   background-color: #008CC8;
   border-radius: 2px;
   transform: rotate(-45deg);
   transition: all .3s ease-in;
   box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
}
.cl-btn-2 .close-btn {
   margin: 54px 0 0 -5px;
   position: absolute;
   color: #008CC8;
   font-family: Tahoma, sans-serif;
   font-size: 13px;
   font-weight: bold;
   text-transform: uppercase;
   transition: all .3s ease-in;
   opacity: 0; 
}
.cl-btn-2 div:hover .leftright {
   transform: rotate(-45deg);
   background-color: #006591;
}
.cl-btn-2 div:hover .rightleft {
   transform: rotate(45deg);
   background-color: #006591;
}
.cl-btn-2 div:hover .close-btn {
   opacity: 1;
}

.logo-imj {
   width: 50px;
   height: 50px;
   margin-left: 10px;
   box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
   border-radius: 25px;
}
.logo-imj:hover {
   box-shadow:none;
}
.address-row {
   display: flex;
   gap: 10px;
   justify-content: space-between;
   border-radius: 0;
   margin-top: 20px;
   max-width: 100%;
}

.address-row input {
   padding: 10px;
   font-size: 1em;
   border: 1px solid #ccc;
   border-radius: 0;
   padding: 5px; /* Внутренние отступы для удобства */
   margin: 5px 0; /* Расстояние между полями */
   border: 1px solid #ccc; /* Граница поля */
   box-shadow: inset 0 0 2px 1px rgba(180, 180, 180, 0.1); /* Внутренняя тень */
   outline: none; /* Убираем стандартное выделение */
}

.address-row input:focus {
   box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.2), 0 0 5px rgba(0, 123, 255, 0.5); /* Добавляем эффект при фокусе */
   border-color: #868686; /* Цвет границы при фокусе */
}

.address-down {
   max-width: 100%;
   flex-direction: column;
   display: flex
;
}
#street {
    width: 60%; /* Улица — 60% ширины */
}

#house,
#apartment {
    width: 20%; /* Дом и Квартира — по 20% ширины */
}

#full_name {
   max-width: 100%;
}
/* Для полей ФИО и телефона */
input[type="text"],
input[type="tel"] {
   padding: 10px;
   font-size: 1em;
   border: 1px solid #ccc;
   border-radius: 4px;
   margin-bottom: 5px;
   box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.07) ;
}
input[type="text"],
input[type="tel"]:hover{
   box-shadow:inset 1px 2px 8px rgba(0, 0, 0, 0.02) ;
}
.submit-container {
   display: flex;
   max-width: 100%;
   height: 100px;
   justify-content: center;
   align-items: center;
}
.submit {
   display: flex;
   border: none;
   cursor: pointer;
   font-size: 16px;
   width: 200px;
   height: 50px;
   background-color: #008cc8;
   border-radius: 10px;
   justify-content: center;
   align-items: center;
   font-family: "Montserrat";
   box-shadow: 0 5px 4px 0 rgba(0, 0, 0, 0.25);
   text-decoration: none;
   color: #FAFAFA;
   margin: 0 auto;
   max-height: 100%; /* Ограничиваем высоту ребенка */
   overflow: auto; /* Добавляем прокрутку, если содержимое превышает */
   margin-bottom: 0;
   transition: all .1s ease-in;
}
.submit:hover {
   box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
   color: #dbdbdb;
   background-color: #007fbe;
}

.form-top {
   display: flex;
   justify-content:center; /* Пространство между элементами */
   align-items: center; /* Выравнивание по вертикали */
   position: relative; /* Чтобы задать контекст для позиционирования */
   width: 100%;
   
}
.form-top h3 {
   color: #000000;
   font-weight: 500;
   font-family: 'Manrope';
   font-size: 28px;
}
.form-average-container {
   display: flex;
   align-items: center;
   justify-content: center;
   max-width: 100%;
   margin-top: 0;
}

.form-average {
   display: flex;
   align-items: center;
   justify-content:left;
   width: 550px;
   margin-top: 20px;

}
.form-average a {
   text-decoration: none;
   color: #007fbe;
   font-size: 20px;
   font-family: 'Manrope';
   font-weight: 400;
   margin-left: 20px;

}
.form-average a.active {
   color: #0a557a; /* Синий цвет для активной ссылки */
   text-decoration: underline 2px; /* Подчеркивание активной ссылки */
   font-weight: 500;

 }
 .form-bottom {
   display: flex;
   flex-direction: column;
 }

 .inner-up, .inner-down {
   background-color: #000;
   width: 100%;
   height: 70px;
   margin-bottom: 15px;
 }

.tariff-form {
   display: flex;
   flex-direction: column;
   gap: 10px;
   max-width: 600px;
   justify-content: center;
  
 }
 .tariffForm {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   opacity: 1;
   transition: opacity 0.3s ease; /* Плавная смена прозрачности */
 

 }
 /* Класс для исчезновения */
.fade-out {
   opacity: 0;
   pointer-events: none; /* Отключаем взаимодействие во время анимации */
 }
 
 /* Класс для появления */
 .fade-in {
   opacity: 1;
   pointer-events: auto; /* Включаем взаимодействие после анимации */
 }
 
 .tariff-option-up, .tariff-option-down {
   display: flex;
   align-items: center;
   border-radius: 26px;
   cursor: pointer;
   transition: all 0.2s ease;
   max-width: 100%;
   width: 550px;
   height: 175px;
   margin-top: 20px;
   box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
   background-size: 100% 100%; /* Растягивает изображение, сохраняя пропорции */
   background-repeat: no-repeat; /* Отключает повторение изображения */
   border: 2px solid #fcfcfc ; /* Изначально прозрачная рамка */
   outline: none; /* Убираем стандартную подсветку браузера */
   

 }
 .tariff-option-up:focus, .tariff-option-down:focus,
 .tariff-option-down-house:focus, .tariff-option-up-house:focus  { 
   border-color:#2275E1;
   box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
}

 .tariff-option-up {
   background-image: url(/icon/Frame9.png);
 }
 .tariff-option-down {
   background-image: url(/icon/Frame10.png);
 }
.tariff-option-down-house, .tariff-option-up-house  {
   display: flex;
   align-items: center;
   border-radius: 26px;
   cursor: pointer;
   transition: all 0.2s ease;
   max-width: 100%;
   width: 550px;
   height: 175px;
   margin-top: 20px;
   box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
   background-size: 100% 100%; /* Растягивает изображение, сохраняя пропорции */
   background-repeat: no-repeat; /* Отключает повторение изображения */
   border: 2px solid #DCF4FF ; /* Изначально прозрачная рамка */
   outline: none; /* Убираем стандартную подсветку браузера */
}
.tariff-option-down-house {
   background-image: url(/icon/Frame10-house.png);
}
.tariff-option-up-house {
   background-image: url(/icon/Frame9-house.png);
}
 .tariff-option-up:hover,  .tariff-option-down:hover,
  .tariff-option-down-house:hover, .tariff-option-up-house:hover  {
   box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
 }


 
 .tariff-option input {
   display: none;
 }
 

 .tariff-option input:checked + .tariff-content .tariff-title {
   font-weight: bold;
   color: #007BFF;
 }
 
 .tariff-content {
   display: flex;
   flex-direction: column;
   max-width: 100%;
   gap: 15px;
   margin-left: 20px;
 }
 
 .tariff-title {
   font-family: 'Manrope';
   font-weight: 600;
   font-size: 26px;
   color: #008CC8
   ;
 }
 
 .tariff-speed {
   font-size: 24px;
   font-weight:300;
   color: #000000;
 }
 
 .tariff-speed span {
   font-family: "Martian Mono", sans-serif;
   font-weight: 400;
   font-size: 26px;
   color: #000000;
 }
 
 .tariff-channels {
   font-family: "Martian Mono", sans-serif;
   font-weight: 400;
   font-size: 24px;
   color: #000000;
   font-family: 'Manrope';
    font-size: 20px;
    color: #000000;
 }
 
 .tariff-channels span {
   font-family: 'Manrope';
   font-size: 20px;
   color: #000000;
 }
 
 .tariff-price {
   font-size: 20px;
   color: #333;
 }
 
 .tariff-price span {
   font-size: 14px;
   color: #777;
 }
 
 .tariff-option:hover {
   border-color: #414141;
 }
  .active {          /*Стили для активной ссылке в форме  */
   color: #007bff; /* Синий цвет для активного состояния */
   text-underline-offset: 5px ; /* Подчеркивание текста */
}

@media (max-width: 1260px) {
   .tariff .container {
     flex-direction: column; /* Переключение на колонку */

     align-items: center;
   }
   .tariff .tariffs-detail-left, .tariff .tariffs-detail-right {
      margin-left: 10px;
      margin-right: 10px;
      width: 50%;
      height: 500px;
   }
}

@media (max-width: 1366px) {
   .tariffs-detail-left, .tariffs-detail-right {
      width: 475px;
      height: 450px;
   }
   .right-descr, .rub-mes {
      font-size: 20px;
   }
   .left-descr p, .right-descr p {
      margin-bottom: 0;
      display: flex;
   
   }
   .left-descr {
      width: 150px;
   }
   .navbar-top .container {
      max-width: 80%;
   }
   .navbar-bottom .container {
      max-width: 80%;
   }
   .fram .inner {
      width: 80%;
   }
   #pages-nam .container {
      width: 80%;
   }
   .tariff .tariffs-detail-left {
      margin-left: 10%;
   }
   .tariff .tariffs-detail-right {
      margin-right: 10%;  
   }
   .footer .container {
      width: 80%;
   }
}
@media (max-width: 760px) {
   .body {
      width: 100vh;
   }
   main .slider {
      display: block;
   }
   .page-apart, .house {
      display: none;
   }
   #page-apart-mob, #house-mob {
      display: block;
   }
   .tariff{
      margin-top: 10px;
   }
   .navbar-bottom .container, .navbar-top .container {
      max-width: 90%;
   }
   .tariff .container{
      flex-direction: column;
      align-items: normal;
   }
   .tariff .container .detail-left, .tariff .container .detail-right {
      margin-left: 0%;
      display: flex;
      width: 95%;
      margin-left: 10px;

   }
   .tariff-option-up, .tariff-option-down, .tariff-option-down-house, .tariff-option-up-house {
      height: 135px;
   }
.tariff .container .inner-bottom-ind {
      padding-left: 25px;
      padding-right: 25px;
   }
   #inner-centr {
      gap: 0;
   }

   .tariff .tariffs-detail-left, .tariff .tariffs-detail-right {
      width: 95%;
      height: 400px;
      margin-left: 10px;
      margin-top: 10px;
   }
   #pages-nam .container {
      gap: 5px;
      padding: 0;

   }

   #pages-nam .container a{
      padding: 0;
   }
   .navbar-bottom .navbar-inner-center {
      display: none;
   }
   .form-container.show {
   opacity: 1;
   transform: translate(0%, 0%) scale(1);
   pointer-events: auto;

   }
   .form-container {
      position: fixed;
      left: 0;
      top: 5%;
      width: 94%;
      transform: translate(0%, 0%) scale(0.8);
      display: block;
      margin-left: 5px;
      margin-right: 5px;
   }
   #burg-menu {
      display: flex;
   }
   .message {
      position: absolute;
      left: 39%;
      top: -20px; /* Изначально спрятана за левым краем */
      transform: translateY(-50%);
      background-color: #f0f0f000;
      padding: 10px 20px;
      transition: top 0.3s ease; /* Анимация появления */
      font-family: 'Martian Mono';
      font-size: 14px;
      font-weight: 200;
    }
   
   
    .message.visible {
      top: 3.8%;
      left: 39%; /* Появляется слева */
    }
    .footer .container {
      width: 90%;
      display: flex;
      justify-content: flex-start; /* Выравнивание по горизонтали */
      align-items: flex-start; 
    }

    .footer .container .inner-right {
      align-items:normal ;

    }
    .footer .container .inner-right p{
      margin-top: 5px;      
    }
}
@media (max-width: 1146px) {
   .ban {
      display: none;
   }
   #pages-nam .container {
      justify-content: center;
   }
   .footer .container {
      flex-direction: column;
   }
   .footer .inner-right {
      align-items: center;
   }
}

.burg-menu {

   width: 50px;
   height: 50px;
   align-items: center;
   margin-left: auto;
   display: none;
}

.checkbox {
   position: absolute;
   display: block;
   margin-left: auto;

   height: 50px;
   width: 50px;
   z-index: 999;
   opacity: 0;
   cursor: pointer;
   margin-left: auto; /* Сдвигает элемент вправо */
   padding: 5px;
   background-color: #000;
 }
 
.hamburger-lines {
   height: 28px;
   width: 35px;
   z-index: 2;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   margin-left: auto;
 }
 
.hamburger-lines .line {
   display: block;
   height: 4px;
   width: 100%;
   border-radius: 10px;
   background: #0e2431;
 }
 
  .hamburger-lines .line1 {
   transform-origin: 0% 0%;
   transition: transform 0.4s ease-in-out;
 }
 
  .hamburger-lines .line2 {
   transition: transform 0.2s ease-in-out;
 }
 
 .hamburger-lines .line3 {
   transform-origin: 0% 100%;
   transition: transform 0.4s ease-in-out;
 }
 

 

 
 input[type="checkbox"]:checked ~ .menu-items {
   transform: translateX(0);
 }
 
 input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
   transform: rotate(45deg);
 }
 
input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
   transform: scaleY(0);
 }
 
 input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
   transform: rotate(-45deg);
 }
 
input[type="checkbox"]:checked ~ .logo{
   display: none;
 }










 .menu-container {
   position: relative;
 }
 
 .menu-button {
   position: fixed;
   top: 20px;
   right: 20px;
   z-index: 1000;
   padding: 10px 20px;
   font-size: 16px;
   cursor: pointer;
 }
 
 .menu-overlay {
   position: fixed;
   margin-top: 35px;
   right: -100%; /* Меню скрыто за экраном */
   width: 100%;
   background-color: rgba(255, 255, 255, 0.945); /* Полупрозрачный фон */
   color: rgb(0, 0, 0);
   display: flex;
   justify-content: center;
   align-items: center;
   transition: right 0.4s ease; /* Анимация появления */
   z-index: 999;
 }
 
 .menu-overlay.open {
   right: 0; /* Выдвигаем меню на экран */
 }
 
 .menu-content {
   text-align: center;
 }
 
 .menu-content ul {
   list-style: none;
   padding: 0;
 }
 
 .menu-content li {
   margin: 20px 0;
 }
 
 .menu-content a {
   color: rgb(0, 0, 0);
   text-decoration: none;
   font-size: 20px;
 }
 
 .menu-content a:hover {
   text-decoration: underline;
 }
 .close-button {
   opacity: 0;
 }




 /* Стили для блока новостей */




 .tariff .detail-left,  .tariff .detail-right {
   width: 600px;
   height: 600px;

 }
 .tariff .detail-left {
   margin-left: 20%;
   
 }
 .tariff .detail-right {
   margin-right: 20%;
   display: flex;
   flex-direction: column;
   gap: 20px;
 }
 .tariff .inner-top, .tariff .inner-bottom  {
   max-width: 100%;
   height: 100%;
   background-color: #fcfcfc;
   box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.25);
   border-radius: 25px;
   padding: px;

 }
.detail-left .container{
   height: 100%;
   box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.25);
   border-radius: 25px;
   width: 600px;
   height: 600px;
   background-color: #fcfcfc;
   display: flex;
   flex-direction: column;
   

}
.tariff .inner-bottom-ind, .tariff .inner-top-ind {
   width: 100%;
   height: 50%;
   display: flex;

}
.tariff .inner-top-ind {
   display: flex;
   justify-content: center;

   
}
.tariff .inner-bottom-ind {
   display: flex;
   justify-content: center;
   flex-direction: column;
   padding-left: 50px;
   padding-bottom: 50px;

   width: auto;
   font-family: 'Manrope';


}
.tariff .inner-bottom-ind-right {
   display: flex;
   width: auto;
   flex-direction: column;
   font-family: 'Manrope';
   margin-left: 25px;
}

.tariff .date {
   font-weight: 300;
   font-size: 18px;
   color: #1968a8;
   margin-bottom: 5px;

}
.tariff .headline {
   display: flex;
   font-weight: 700;
   font-size: 30px;
   color: #008cc8;
   margin-top: 5px;
   margin-bottom: 5px;

}
.tariff .headline span{
   font-weight: 800;
   color: #f50000;
}
.tariff .article {
   font-weight: 500;
   margin-top: 10px;
   font-size: 22px;
   color: #0e3a5e;
   text-decoration: none;
}

.tariff .article:hover {
   text-decoration: underline;
   color: #25709b;
   transition: all 0.7s ease;
}
/* Контейнер для слайдера */
.slider {
   position: relative;
   width: 100%;
   height: 220px; /* Задайте нужную высоту */
   overflow: hidden;
   display: none;
   background: #F3FDFF;
 }
 
 /* Все слайды */
 .slides {
   display: flex;
   transition: transform 0.5s ease-in-out;
   height: 220px;

 }
 
 /* Отдельный слайд */
 .slide {
   flex: 0 0 100%; /* Каждый слайд занимает 100% контейнера */
   display: flex;
   justify-content: center;
   align-items: center;
    /* Фоновый цвет */
   font-size: 24px;
   color: #333;

 }
 
 /* Кнопки навигации */
 .nav {
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   background: rgba(0, 0, 0, 0.5);
   color: white;
   border: none;
   padding: 10px 20px;
   cursor: pointer;
 }
 
 .nav.prev {
   left: 10px;
 }
 
 .nav.next {
   right: 10px;
 }
 
 .indicators {
   position: absolute;
   bottom: 20px;
   left: 50%;
   transform: translateX(-50%);
   display: flex;
   gap: 10px;
 }
 
 .indicator {
   width: 10px;
   height: 10px;
   background-color: #ccc;
   border-radius: 50%;
   cursor: pointer;
   transition: background-color 0.3s;
 }
 
 .indicator.active {
   background-color: #333;
 }
 .slider .payment {
   display: flex;
   width: 100%;
   height: 100%;
   background-image: url(/icon/Group4.png);
   background-size: contain; /* Растянуть изображение, сохраняя пропорции */
   background-position: center; /* Центрировать изображение */
   background-repeat: no-repeat;
   justify-content: flex-end; /* Прижимаем вниз */
   align-items: flex-end; /* Прижимаем вправо */
   padding-bottom: 60px;
   padding-right: 40px;
 }
 .slider .persAcc {
   display: flex;
   width: 100%;
   height: 100%;
   background-image: url(/icon/Frame15.png);
   background-size: contain; /* Растянуть изображение, сохраняя пропорции */
   background-position: center; /* Центрировать изображение */
   background-repeat: no-repeat;
   justify-content: flex-end; /* Прижимаем вниз */
   align-items: flex-end; /* Прижимаем вправо */
   padding-bottom: 60px;
   padding-right: 40px;
 }
 .slider .tarr {
   display: flex;
   width: 100%;
   height: 100%;
   background-image: url(/icon/Frame16.png);
   background-size: contain; /* Растянуть изображение, сохраняя пропорции */
   background-position: center; /* Центрировать изображение */
   background-repeat: no-repeat;
   justify-content: flex-start; /* Прижимаем вниз */
   align-items: flex-end; /* Прижимаем вправо */
   padding-bottom: 60px;
   padding-left: 40px;
 }
 .slider .tarr button{
   all: unset;
   display: flex;
   height: 40px;
   width: 120px;
   border-radius: 10px;
   cursor: pointer;
   background-color: #008cc8;
   align-items: center;
   justify-content: center;
 }
 
 .slider .payment button, .slider .persAcc button {
   all: unset;
   display: flex;
   height: 40px;
   width: 120px;
   border-radius: 10px;
   cursor: pointer;
   background-color: #F50000;
   align-items: center;
   justify-content: center;
 }
 .slider .payment button a, .slider .persAcc button a, .slider .tarr button a{
   color: #fff;
   text-decoration: none;
   font-size: 16px;
 }
 .slider .payment button:hover {
   background-color: #800000;
 }